body {
    font-size: 17px!important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    color: #222!important;
    line-height: 1.5em;
  }

  html {
    scroll-behavior: smooth;
  }

  
.burger-menu-icon {
    width: 50px;
    height: 30px;
    margin-left: auto;
    margin-right: 5%;
    color: red!important;
    }
    
    .nav-header {
      background-color: rgba(10,10,10,0.9); 
      height: 50px;
      display: flex;
      align-items: center;
      width: 100vw;
    }
    
    ul.dropdown-content {
      overflow: hidden; 
      max-height: 0px; 
      background: rgba(10,10,10,0.9);
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); 
      color: rgba(255,255,255,0.7); 
      list-style: none;
      padding: 0px;
      position: fixed;
      width: 100%;
      margin: 0;
    }
    
    .dropdown-content > li {
    height: 40px;
    line-height: 35px;
    border-top: 1px solid rgba(73,71,71,0.45);
    width: 100%;
    text-align: left;
    padding-left: 20px;
 /*    font-size: 12px; */
    cursor: pointer;
    }
    
    
    ul.on {
    max-height: 600px;
    /*  opacity: .9; */
    transition: max-height 1s;
    }
    
    .mobile-nav{
      position: fixed;
      top: 0%;
      width: 100%;
      z-index: +10;
    } 
    
    .charles {
      padding-left: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      margin: 0;
    }
    
    @media only screen and (min-width: 750px) {
     .mobile-nav {
         display: none;
     }
    
    
    }
    
    
    /* Css for desktop nav bar */
    
    .name-area {
     line-height: 80px;
     position: absolute;
    }
    
    .desktop-nav {
      display: flex;
      background-color: transparent;  
      height: 80px;
      position: fixed;
      width: 100%;
      z-index: +10;
    }
    
    @media only screen and (max-width: 750px) {
      .desktop-nav {
          display: none;
      }
    
      .spacer {
        height: 100px;
        width: 100%;
      }
    
      
     }
    
     .menu-area {
      width: 100%; 
     } 
    
     .menu-content {
         display: flex;
         color: white;
         list-style: none;
         padding-inline-start: 00px;
         justify-content: center;
     }
    
    
     .menu-content > li {
      height: 40px;
      width: 100px;
      text-align: center;
      padding-left: 20px;
    /*   font-size: 14px; */
      cursor: pointer;
      }
      
      #header-image-container {
       height: 100vh;
       width: 100%;
       background: url("images/Headerimage.jpg");  
       background-repeat: no-repeat;
       background-size: cover;
       box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 70%);
       text-align: center;
      }
    
      #header-content {
          position: absolute;
          top: 50%;
          width: 100%;
          text-align: center;
      }
    
    
      #header-content  h1 {
        margin-block-start: 1em;
        margin-block-end: 0em;
        color: white;
        font-size: 25px;
      }
    
    

      .on {
        opacity: 1!important;
        transition: opacity  2s; 
        }


        /* homepage content */


.exposure {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .sales {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .brand {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .on {
  opacity: 1!important;
  transition: opacity  2s; 
  }
  
  #fading-texts {
   margin: 0 auto;
   height: 80px;
  }
  
  #fading-texts > h1 {
   color: white;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   padding-top: 110px;
   font-size: 25px;
   margin-block-start: 0em;
   margin-block-end: 0em;
  } 
  
  
  @media only screen and (max-width: 750px) {
    #desktop-nav {
        display: none;
    }
  
   
  #fading-texts > h1 {
    padding-top: 50px;
    font-size: 25px;
  
  }
  
  #header-content > h1 {
    font-size: 25px;
  
  }

  
  
  }

  #introductory-icon > img {
    height: 300px;
    width: 300px;
   }
  


  @media only screen and (max-width: 560px) {
    
    #fading-texts > h1 {
      font-size: 18px;
   }   

   .text h2 {
    margin-block-start: 1em;
    margin-block-end: 0em;
   }

   #header-content  h1 {
    margin-block-start: 1em;
    margin-block-end: 0em;
    color: white;
    font-size: 18px;
  }

  #introductory-icon > img {
    height: 200px;
    width: 200px;
   }
     

  }

  .image-container {
    width: 45%;
    max-width: 100%
  }

  .image-container > img{
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 5px #ccc;
  }

  .text-container {
    width: 45%;
  /*   padding: 0 20px; */
  /*   font-size: 13px; */
  }

  


  .padding-left {
    padding-left: 40px;
  }

  .padding-right {
    padding-right: 40px;
  }

  .img-padding-left {
    padding-left: 20px;
  }
   
  #text-content-container {
    width: 100%;
  }

  #about-us {
   width: 100%;
   margin: 0 auto;
   max-width: 1520px;
  }

  .content {
   display: flex; 
   justify-content: center;
  } 

  .text-container li{
    margin-bottom: 3px;
  }

  .text-container h2{
    margin-bottom: 5px;
    margin-block-start: 0em;
  }

  .only-mobile {
    display: none;
  }

  @media only screen and (max-width: 940px) {
    .padding-left {
      padding-left: 40px;
     }
  
     .text-container {
      width: 50%;
     }
  
     .img-padding-left {
      padding-left: 00px
     }
   }

   @media only screen and (max-width: 800px) {
    .content {
      flex-direction: column;
    }

    .only-desktop {
      display: none;
    }

    .only-mobile {
      display: block;
    }

    .image-container {
      width: 90%;
      max-width: 100%;
    }

    .text-container {
      width: 90%;
      margin-top: 20px;
    }

    .content {
      align-items: center;
    }

    .padding-left {
      padding-left: 00px;
  }

  .padding-right {
    padding-right: 00px;
}
  }

  /* footer css */

  .footer {
    width: 100%;
    background-color: black; 
    color: white;
    font-size: 17px;
    text-align: center; 
    background: black;
    padding: 25px;
  }

  .footer p{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }  

  .rights {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .iconify--ic {
   margin-bottom: 2px;
  }
  
  .social-icons {
   height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons > svg {
    margin: 10px;
    font-size: 38px;
  }
  

  /* css for about us */


  /* css for slider */

  * {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: black;
  opacity: .5;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #0c0c0c;
  padding: 0px 12px;
  /* position: absolute; */
  float: right;
/*   bottom: 8px; */
  width: 50%;
  text-align: left;
  height: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #686565;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media only screen and (min-width: 700px) {

 .slideshow-container {
  width: 90%; 
} 

}

.slideshow-container  img{
  width: 50%;
  max-width: 100%;
  height: auto;
  
}

@media only screen and (max-width: 630px) {
  .slideshow-container  img{
    max-width: 100%;
   
  }


}




@media only screen and (max-width: 560px) {
  .slideshow-container  img{
    width: 100%;
    max-width: 100%;
   
  }

  .text-container h2{
    margin-block-start: 1em;
  }
  
  .text h2{
    margin-block-start: 1em;
  } 
  

  .text {
    width: 100%;
  }
}

/* tabs */

.five-pillars {
 width: 90%;
 margin: 0 auto;
}

.tabs  {
  display: flex;

}

.tab  {
 text-align: center;
 width: 100px;
 cursor: pointer;
}

.physical {
  border-bottom: red solid 5px;
}

.technical {
  border-bottom: blue solid 5px;
}

.tactical {
  border-bottom: yellow solid 5px;
}

.mental {
  border-bottom: green solid 5px;
}

.adaptability {
  border-bottom: purple solid 5px;

}

.active-tab {
  background-color: rgba(18, 17, 18, .9);
  color: #f2f2f2;
}

.tab-text-content {
  border: 1px solid rgb(228, 227, 227);
  position: relative;
  padding: 0 10px;
  height: 100px;
}


@media only screen and (max-width: 620px) {

  .tab-text-content {
    height: 150px;
   }
  
}

@media only screen and (max-width: 560px) {

  .tab-text-content {
    height: 200px;
   }
  
}

@media only screen and (max-width: 360px) {

  .tab-text-content {
    height: 300px;
   }
  
}

.skill {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.skill > span {
  border-radius: 5px;
  color: white;
  padding: 5px;
}


ul {
  padding: 10px;
}

.one {
 background: rgb(29, 185, 24);
}

.two  {
  background: rgb(82, 5, 5);
 }
 

.three {
  background-color: rgb(116, 102, 241);
 }


.four {
  background-color: rgb(0, 119, 255);
 }


 .five {
  background-color: rgb(21, 80, 3);
 }

.six {
  background-color: rgb(177, 196, 10);
 }

 .seven {
  background-color: rgb(17, 98, 136);
 }

 .eight {
  background-color: rgb(255, 0, 200);
 }

 .nine {
  background-color: rgb(248, 177, 45);
 }


 .ten {
  background-color: rgb(243, 18, 37);
 }


 .eleven {
  background-color: rgb(87, 3, 73);
 }

 .twelve {
  background-color: rgb(65, 100, 32);
 }


 .thirteen {
  background-color: rgb(0, 255, 221);
 }
 

/* @media only screen and (min-width: 360px) {

  .tab-text-content {
   height: 280px;
  }

} 

@media only screen and (min-width: 555px) {

.tab-text-content {
  height: 240px;
 }

}

 */



.tab p{
  pointer-events: none;
}

.tab-text {
  position: absolute;
  top: 0;
  opacity: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.physical-text {
  opacity: 1;
}


@media only screen and (max-width: 450px) {
 .tabs {
   font-size: 13px;
  }

  .five-pillars {
    width: 98%;
  }
}

@media only screen and (max-width: 773px) {

}

/* registration */

#register-image {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#register-image > img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

  /* general css */

  #introductory-icon {
    position: absolute;
    width: 100%;
    top: 10%;
 }


  .spacer {
    height: 100px;
    width: 100%;
  }


  #introductory-text {
    text-align: center;
    margin: 1px solid black;
  }

  #introductory-text h1 {
    font-size: 50px;
    color: #293160;
  }

  #introductory-text h4 {
    font-size: 25px;
    color: #293160;
  }

  /* css for sponsor section */

  #sponsors-section {
    text-align: center;
    margin: 0 auto;
  }

  #sponsor-wrap{
   display: flex;
   margin: 0 auto;
   align-items: center;
  }

  .sponsor > img{
    width: 60%;
    height: auto;
  }

  /* responsive code for mobile */

  @media only screen and (max-width: 560px) {

    .about-us-text-content {
      text-align: left;
      margin: 0 40px;
      color: #293160;
      width: 90%;
      margin: 0 auto;
    }

    #introductory-text h1 {
      font-size: 40px;
      color: #293160;
  }

  #about-us {
    width: 90%;
  }
  }
  

  a {
    text-decoration: none;
    color: white;
  }