body {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 11px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    
  }


  
.burger-menu-icon {
    width: 50px;
    height: 30px;
    margin-left: auto;
    margin-right: 5%;
    color: red!important;
    }
    
    .nav-header {
      background-color: rgba(10,10,10,0.9); 
      height: 50px;
      display: flex;
      align-items: center;
      width: 100vw;
    }
    
    ul.dropdown-content {
      overflow: hidden; 
      max-height: 0px; 
      background: rgba(10,10,10,0.9);
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); 
      color: rgba(255,255,255,0.7); 
      list-style: none;
      padding: 0px;
      position: fixed;
      width: 100%;
      margin: 0;
    }
    
    .dropdown-content > li {
    height: 40px;
    line-height: 35px;
    border-top: 1px solid rgba(73,71,71,0.45);
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
    cursor: pointer;
    }
    
    
    ul.on {
    max-height: 600px;
    /*  opacity: .9; */
    transition: max-height 1s;
    }
    
    .mobile-nav{
      position: fixed;
      top: 0%;
      width: 100%;
      z-index: +10;
    } 
    
    .charles {
      padding-left: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      margin: 0;
    }
    
    @media only screen and (min-width: 750px) {
     .mobile-nav {
         display: none;
     }
    
    
    }
    
    
    /* Css for desktop nav bar */
    
    .name-area {
     line-height: 80px;
     position: absolute;
    }
    
    .desktop-nav {
      display: flex;
      background-color: transparent;  
      height: 80px;
      position: fixed;
      width: 100%;
      z-index: +10;
    }
    
    @media only screen and (max-width: 750px) {
      .desktop-nav {
          display: none;
      }
    
      .spacer {
        height: 100px;
        width: 100%;
      }
    
      
     }
    
     .menu-area {
      width: 100%; 
     } 
    
     .menu-content {
         display: flex;
         color: white;
         list-style: none;
         padding-inline-start: 00px;
         justify-content: center;
     }
    
    
     .menu-content > li {
      height: 40px;
      line-height: 50px; 
      width: 100px;
      text-align: center;
      padding-left: 20px;
      font-size: 14px;
      cursor: pointer;
      }
      
      #header-image-container {
       height: 100vh;
       width: 100%;
       background: url("images/Headerimage.jpg");  
       background-repeat: no-repeat;
       background-size: cover;
       box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 70%);
       text-align: center;
      }
    
      #header-content {
          position: absolute;
          top: 50%;
          width: 100%;
          text-align: center;
      }
    
    
      #header-content  h1 {
        margin-block-start: 1em;
        margin-block-end: 0em;
        color: white;
        font-size: 25px;
      }
    
    

      .on {
        opacity: 1!important;
        transition: opacity  2s; 
        }


        /* homepage content */

.exposure {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .sales {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .brand {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .on {
  opacity: 1!important;
  transition: opacity  2s; 
  }
  
  #fading-texts {
   margin: 0 auto;
   height: 80px;
  }
  
  #fading-texts > h1 {
   color: white;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   padding-top: 110px;
   font-size: 25px;
   margin-block-start: 0em;
   margin-block-end: 0em;
  } 
  
  
  @media only screen and (max-width: 750px) {
    #desktop-nav {
        display: none;
    }
  
   
  #fading-texts > h1 {
    padding-top: 50px;
    font-size: 25px;
  
  }
  
  #header-content > h1 {
    font-size: 25px;
  
  }

  
  
  }

  #introductory-icon > img {
    height: 300px;
    width: 300px;
   }
  


  @media only screen and (max-width: 560px) {
    
    #fading-texts > h1 {
      font-size: 18px;
   } 

   #header-content  h1 {
    margin-block-start: 1em;
    margin-block-end: 0em;
    color: white;
    font-size: 18px;
  }

  #introductory-icon > img {
    height: 200px;
    width: 200px;
   }
     

  }

  .image-container {
    width: 40%;
    max-width: 100%
  }

  .image-container > img{
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 5px #ccc;
  }

  .text-container {
    width: 40%;
  /*   padding: 0 20px; */
    font-size: 13px;
  }

  .padding-left {
    padding-left: 40px;
  }

  .padding-right {
    padding-right: 40px;
  }

  .img-padding-left {
    padding-left: 20px;
  }
   
  #text-content-container {
    width: 100%;
  }

  #about-us {
   width: 100%;
   margin: 0 auto;
   max-width: 1520px;
  }

  .content {
   display: flex; 
   justify-content: center;
  } 

  .text-container li{
    margin-bottom: 5px;
  }

  .text-container h2{
    margin-bottom: 5px;
    margin-block-start: 0em;
  }

  /* footer css */

  .footer {
    width: 100%;
    background-color: black; 
    color: white;
    font-size: 10px;
    text-align: center; 
    background: black;
 
  }

  .footer p{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }  

  .rights {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .iconify--ic {
   margin-bottom: 2px;
  }
  
  .social-icons {
   height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons > svg {
    margin: 10px;
    font-size: 38px;
  }
  

  /* css for about us */


  /* css for slider */

  * {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
 /*  max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: black;
  opacity: .3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #0c0c0c;
  font-size: 15px;
  padding: 0px 12px;
  /* position: absolute; */
  float: right;
/*   bottom: 8px; */
  width: 50%;
  text-align: left;
  height: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #686565;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slideshow-container {
  width: 100%;
}

.slideshow-container  img{
  width: 50%;
  max-width: 100%;
  height: 500px;
}





@media only screen and (max-width: 560px) {
  .slideshow-container  img{
    width: 100%;
    max-width: 100%;
   
  }

  .slideshow-container img {
    height: 250px;
}

  .text {
    width: 100%;
  }
}


  /* general css */

  #introductory-icon {
    position: absolute;
    width: 100%;
    top: 10%;
 }


  .spacer {
    height: 60px;
    width: 100%;
  }


  #introductory-text {
    text-align: center;
    margin: 1px solid black;
  }

  #introductory-text h1 {
    font-size: 50px;
    color: #293160;
  }

  #introductory-text h4 {
    font-size: 25px;
    color: #293160;
  }

  /* responsive code for mobile */

  @media only screen and (max-width: 560px) {
    .about-us-text-content {
      text-align: left;
      margin: 0 40px;
      color: #293160;
      width: 90%;
      margin: 0 auto;
    }

    #introductory-text h1 {
      font-size: 40px;
      color: #293160;
  }

  #about-us {
    width: 90%;
  }
  
  }