body {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 11px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    
  }


  
.burger-menu-icon {
    width: 50px;
    height: 30px;
    margin-left: auto;
    margin-right: 5%;
    color: red!important;
    }
    
    .nav-header {
      background-color: rgba(10,10,10,0.9); 
      height: 50px;
      display: flex;
      align-items: center;
      width: 100vw;
    }
    
    ul.dropdown-content {
      overflow: hidden; 
      max-height: 0px; 
      background: rgba(10,10,10,0.9);
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); 
      color: rgba(255,255,255,0.7); 
      list-style: none;
      padding: 0px;
      position: fixed;
      width: 100%;
      margin: 0;
    }
    
    .dropdown-content > li {
    height: 40px;
    line-height: 35px;
    border-top: 1px solid rgba(73,71,71,0.45);
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
    cursor: pointer;
    }
    
    
    ul.on {
    max-height: 600px;
    /*  opacity: .9; */
    transition: max-height 1s;
    }
    
    .mobile-nav{
      position: fixed;
      top: 0%;
      width: 100%;
      z-index: +10;
    } 
    
    .charles {
      padding-left: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      margin: 0;
    }
    
    @media only screen and (min-width: 750px) {
     .mobile-nav {
         display: none;
     }
    
    
    }
    
    
    /* Css for desktop nav bar */
    
    .name-area {
     line-height: 80px;
     position: absolute;
    }
    
    .desktop-nav {
      display: flex;
      background-color: transparent;  
      height: 80px;
      position: fixed;
      width: 100%;
      z-index: +10;
    }
    
    @media only screen and (max-width: 750px) {
      .desktop-nav {
          display: none;
      }
    
      .spacer {
        height: 100px;
        width: 100%;
      }
    
      
     }
    
     .menu-area {
      width: 100%; 
     } 
    
     .menu-content {
         display: flex;
         color: white;
         list-style: none;
         padding-inline-start: 00px;
         justify-content: center;
     }
    
    
     .menu-content > li {
      height: 40px;
      line-height: 50px; 
      width: 100px;
      text-align: center;
      padding-left: 20px;
      font-size: 14px;
      cursor: pointer;
      }
      
      #header-image-container {
       height: 100vh;
       width: 100%;
       background: url("images/Headerimage.jpg");  
       background-repeat: no-repeat;
       background-size: cover;
       box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 70%);
       text-align: center;
      }
    
      #header-content {
          position: absolute;
          top: 40%;
          width: 100%;
          text-align: center;
      }
    
    
      #header-content  h2 {
        margin-block-start: 0em;
        margin-block-end: 0em;
        color: white;
        font-size: 25px;
      }
    
    

      .on {
        opacity: 1!important;
        transition: opacity  2s; 
        }


        /* homepage content */

.exposure {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .sales {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .brand {
  opacity: 0;
  transition: opacity 2s; 
  }
  
  .on {
  opacity: 1!important;
  transition: opacity  2s; 
  }
  
  #fading-texts {
   margin: 0 auto;
   height: 80px;
  }
  
  #fading-texts > h1 {
   color: white;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   padding-top: 110px;
   font-size: 35px;
   margin-block-start: 0em;
   margin-block-end: 0em;
  } 
  
  
  @media only screen and (max-width: 750px) {
    #desktop-nav {
        display: none;
    }
  
   
  #fading-texts > h1 {
    padding-top: 50px;
    font-size: 20px;
  
  }
  
  #header-content > h2 {
    font-size: 20px;
  
  }
  
  }


  /* footer css */

  .footer {
    width: 100%;
    background-color: black; 
    color: white;
    font-size: 10px;
    text-align: center; 
    background: black;
 
  }

  .footer p{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }  

  .rights {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .iconify--ic {
   margin-bottom: 2px;
  }
  
  .social-icons {
   height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons > svg {
    margin: 10px;
    font-size: 38px;
  }
  

  /* css for about us */

  #about-us {
   width: 100vw;
   width: 98vw;
    margin: 0 auto;
  }

  .about-us-image {
    height: 800px;
    width: 70%;
  }

  @media only screen and (max-width: 1495px) {
    .about-us-image {
      height: 700px;
      width: 70%;
    }
  }

  @media only screen and (max-width: 1243px) {
    .about-us-image {
      height: 600px;
      width: 70%;
    }
  }

  @media only screen and (max-width: 740px) {
    .about-us-image {
      height: 500px;
      width: 70%;
    }
  }

  @media only screen and (max-width: 595px) {
    .about-us-image {
      height: 400px;
      width: 90%;
    }

  }
  
  
  
  .about-us-image:nth-of-type(1)  {
    background: url("images/kids-posing.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }


  .about-us-image:nth-of-type(5) {
    background: url("images/Kids-resting.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }


  .about-us-image:nth-of-type(9) {
    background: url("images/childrenGroupPhoto.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }

  .about-us-image:nth-of-type(13) {
    background: url("images/kids-playing.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }

  .about-us-image:nth-of-type(17) {
    background: url("images/kidsTraining.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }


  .about-us-image:nth-of-type(21) {
    background: url("images/childrenDiscussing.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }

  .about-us-image:nth-of-type(25) {
    background: url("images/handingTrophy.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }


  .about-us-image:nth-of-type(29) {
    background: url("images/childrenWaiting.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    margin: 0 auto;
  }

  .skill > span {
    font-size: 14px;
    line-height: 20px;
  }


  .skill:nth-of-type(2) > span {
    display: inline-block;
    background: rgb(2, 176, 235);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  
  .skill:nth-of-type(3) > span {
    display: inline-block;
    background: rgb(243, 36, 36);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(4) > span {
    display: inline-block;
    background: rgb(174, 177, 3);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(5) > span {
    display: inline-block;
    background: rgb(3, 177, 12);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }
  
  .skill:nth-of-type(6) > span {
    display: inline-block;
    background: rgb(167, 5, 99);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(7) > span {
    display: inline-block;
    background: rgb(88, 1, 52);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(8) > span {
    display: inline-block;
    background: rgb(39, 2, 107);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(9) > span {
    display: inline-block;
    background: rgb(1, 82, 25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(9) > span {
    display: inline-block;
    background: rgb(134, 31, 48);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(10) > span {
    display: inline-block;
    background: rgb(95, 1, 245);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(11) > span {
    display: inline-block;
    background: rgb(1, 154, 165);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(12) > span {
    display: inline-block;
    background: rgb(252, 77, 243);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
  }

  .skill:nth-of-type(13) > span {
    display: inline-block;
    background: rgb(68, 117, 45);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
  }








  .about-us-text-content {
    text-align: left;
    margin: 0 40px;
    color: #293160;
    width: 70%;
    margin: 0 auto;
  }

  .about-us-text-content p{
    color: #293160;
    font-size: 17px;
    font-weight: 500;
  }

  .about-us-text-content li{
    color: #293160;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .pillar {
   margin-top: 30px;
   }

   .physical {
    background: red;
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 20px;
   }
 

  .technical {
   background: green;
   color: white;
   display: inline;
   padding: 10px;
   border-radius: 20px;
  }

  .tactical {
    background: blue;
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 20px;
   }

   .mental {
    background: rgb(52, 144, 219);
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 20px;
   }

   .adaptability {
    background: rgb(192, 206, 4);
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 20px;
   }
 

  /* general css */

  #introductory-icon img {
    height: 40%;
    width: 40%;
  }

  .spacer {
    height: 100px;
    width: 100%;
  }


  #introductory-text {
    text-align: center;
    margin: 1px solid black;
  }

  #introductory-text h1 {
    font-size: 50px;
    color: #293160;
  }

  #introductory-text h4 {
    font-size: 25px;
    color: #293160;
  }


  @media only screen and (max-width: 560px) {
    .about-us-text-content {
      text-align: left;
      margin: 0 40px;
      color: #293160;
      width: 90%;
      margin: 0 auto;
    }
  
  }